<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">

    <title>学園祭管理</title>

    <link rel="stylesheet" href="/static/style.css">

</head>
<body>

    <h1>教室一覧</h1>
    
    <h2>教室追加</h2>

    <form action="/add_room" method="post">

        <input
            type="text"
            name="name"
            placeholder="教室名"
            required
        >

        <input
            type="number"
            name="desks"
            placeholder="机数"
            required
        >

        <input
            type="number"
            name="chairs"
            placeholder="椅子数"
            required
        >

        <button type="submit">
            追加
        </button>

    </form>


    {% for room in rooms %}

    <div class="room-card">

        <h2>{{ room.name }}</h2>

        <p class="status {{ room.status }}">
            状態 : {{ room.status }}
        </p>

        <form action="/update_status" method="post">

            <input
                type="hidden"
                name="room_id"
                value="{{ room.id }}"
            >

            <button
                type="submit"
                name="status"
                value="未確認"
            >
                未確認
            </button>

            <button
                type="submit"
                name="status"
                value="移動中"
            >
                移動中
            </button>

            <button
                type="submit"
                name="status"
                value="完了"
            >
                完了
            </button>

        </form>

    </div>

    {% endfor %}

</body>
</html>